In [1]:
import numpy as np
import pandas as pd

# my slice stats

In [2]:
dataFrameStats = pd.DataFrame.from_csv("/media/ahmed/Dropbox/DFCI/PY-LUNG/output/Lung1_SliceStats.csv", index_col = None)
# delete first column
del dataFrameStats['Unnamed: 0']
print dataFrameStats.shape
dataFrameStats.head(n=5)

(537, 36)

,patient,nodule,Xspacing,Yspacing,Zspacing,Xmin,Ymin,Zmin,Xcount,Ycount,...,maskYmax_G,xPixelRange_G,yPixelRange_G,maskXmin_B,maskXmax_B,maskYmin_B,maskYmax_B,xPixelRange_B,yPixelRange_B,smoothed
0,43062,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-166.0,512.0,512.0,...,247.0,96.0,72.0,129.0,225.0,175.0,247.0,96.0,72.0,True
1,43370,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-320.5,512.0,512.0,...,323.0,62.0,44.0,285.0,317.0,288.0,317.0,32.0,29.0,True
2,43392,0,0.976562,0.976562,3.0,-249.511719,-249.511719,-169.5,512.0,512.0,...,96.0,63.0,31.0,295.0,335.0,71.0,99.0,40.0,28.0,True
3,43402,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-136.0,512.0,512.0,...,142.0,71.0,68.0,171.0,217.0,74.0,142.0,46.0,68.0,True
4,43421,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-227.5,512.0,512.0,...,247.0,59.0,66.0,275.0,335.0,181.0,247.0,60.0,66.0,True

# clinical 1

In [3]:
# this file has 27 additional  patients added at the end
# they were already in there but didnt have survival data
dataFrameClinical1 = pd.DataFrame.from_csv(
    "/media/ahmed/Dropbox/DFCI/04_data/Lung1 clinical/LungAllPatients2011_04_20_additional_survival_added.csv", index_col = None)
print dataFrameClinical1.shape

(1313, 365)

In [4]:
# only take those who have both deatstat and survival
dataFrameClinical1 = dataFrameClinical1[ 
    (dataFrameClinical1['survival'] != ' ') 
    & (dataFrameClinical1['deadstat'] != ' ') 
    & (dataFrameClinical1['survival'] != '0')    ]

print dataFrameClinical1.shape

(1085, 365)

In [5]:
# remove duplicate patients
dataFrameClinical1 = dataFrameClinical1.drop_duplicates( 'patis')
# reset just in case
dataFrameClinical1 = dataFrameClinical1.reset_index()
print dataFrameClinical1.shape
dataFrameClinical1.head(n=5)

(1085, 366)

,index,idstudy,patis,name,Birthdte,birthday,birthmon,birthyea,gender,intake_who,...,fat_perc_baseline,gripleft_baseline,gripright_baseline,prefside_hand,Date_meas_RT,weight_RT,fat_perc_RT,gripleft_RT,gripright_RT,Unnamed: 364
0,0,,97,Loo,1/1/1943,1.0,1.0,1943.0,2,1,...,27,20,19,right-handed,1/18/2010,54,29.2000007629,23,17,NaN
1,2,787,636,Spijkers,3/6/1943,6.0,3.0,1943.0,2,1,...,,,,,,,,,,NaN
2,3,66,1211,Peters,7/20/1934,20.0,7.0,1934.0,1,0,...,,,,,,,,,,NaN
3,4,,2255,Bouts,10/29/1922,29.0,10.0,1922.0,1,0,...,29.6000003815,21,19,right-handed,,,,,,NaN
4,5,157,2792,Hermans,2/5/1923,5.0,2.0,1923.0,1,1,...,,,,,,,,,,NaN

# intersect stats and clinical using patient ID

In [6]:
# result is a subset of dataFrameClinical1 where patient ids are in dataFrameStats
dataFrameList = []

for i in range( dataFrameStats.shape[0]):
    temp = dataFrameClinical1[   dataFrameClinical1['patis'] == int(dataFrameStats['patient'].tolist()[i]) ]
    dataFrameList.append( temp )

result = pd.concat(dataFrameList)
print result.shape
result.head()

(434, 366)

,index,idstudy,patis,name,Birthdte,birthday,birthmon,birthyea,gender,intake_who,...,fat_perc_baseline,gripleft_baseline,gripright_baseline,prefside_hand,Date_meas_RT,weight_RT,fat_perc_RT,gripleft_RT,gripright_RT,Unnamed: 364
265,299,341,43062,Buysch,6/26/1920,26.0,6.0,1920.0,1,1,...,,,,,,,,,,NaN
284,318,805,43370,Moonen,4/23/1936,23.0,4.0,1936.0,1,1,...,,,,,,,,,,NaN
285,319,,43392,Janssen,3/30/1936,30.0,3.0,1936.0,1,,...,31.7999992371,24,30,right-handed,2/28/2007,73,36.7999992371,18,24,NaN
287,321,357,43402,Cuypers,1/7/1924,7.0,1.0,1924.0,1,1,...,,,,,,,,,,NaN
288,322,358,43421,Peters,9/20/1930,20.0,9.0,1930.0,1,2,...,,,,,,,,,,NaN

In [7]:
# clean up - only patient id and desired clinical endpoint
dataFrameIntermediate = pd.DataFrame()
dataFrameIntermediate['patient'] = result['patis'].tolist()
dataFrameIntermediate['survival'] = result['survival'].tolist()
dataFrameIntermediate['deadstat'] = result['deadstat'].tolist()
#
# CAN ADD HERE
#
print dataFrameIntermediate.shape
dataFrameIntermediate.head(n=5)

(434, 3)

   patient      survival deadstat
0    43062   0.424366872        1
1    43370  0.7008898015        1
2    43392   0.386036961        1
3    43402  0.9664613279        1
4    43421  0.4736481862        1

# join by patient id and make new column in stats

In [8]:
survivalList = []
deadStatList = []
# loop through dataFrameStats and for each patient id, get clinical - 
# This is better becuase some patient ids are duplictaed as they have more than one tumor
# if it doesnt exist, put NaN
for i in range (dataFrameStats.shape[0]):
    # get id
    statPatientID  = dataFrameStats['patient'][i]
    # get entry
    temp = dataFrameIntermediate[ dataFrameIntermediate['patient'] == statPatientID  ]
    # nothing found
    if temp.shape[0] == 0:
        survivalList.append('NaN')
        deadStatList.append('NaN')
    # one entry found - only one will be found because dataFrameIntermediate doesnt have duplicates
    else:
        survivalList.append(temp['survival'].tolist()[0] ) 
        deadStatList.append(temp['deadstat'].tolist()[0] )

In [27]:
# now add list to frame
dataFrameStats['survival'] = survivalList
dataFrameStats['deadstat'] = deadStatList
print dataFrameStats.shape
dataFrameStats.head(n=5)

(537, 38)

,patient,nodule,Xspacing,Yspacing,Zspacing,Xmin,Ymin,Zmin,Xcount,Ycount,...,yPixelRange_G,maskXmin_B,maskXmax_B,maskYmin_B,maskYmax_B,xPixelRange_B,yPixelRange_B,smoothed,survival,deadstat
0,43062,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-166.0,512.0,512.0,...,72.0,129.0,225.0,175.0,247.0,96.0,72.0,True,0.424366872,1
1,43370,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-320.5,512.0,512.0,...,44.0,285.0,317.0,288.0,317.0,32.0,29.0,True,0.7008898015,1
2,43392,0,0.976562,0.976562,3.0,-249.511719,-249.511719,-169.5,512.0,512.0,...,31.0,295.0,335.0,71.0,99.0,40.0,28.0,True,0.386036961,1
3,43402,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-136.0,512.0,512.0,...,68.0,171.0,217.0,74.0,142.0,46.0,68.0,True,0.9664613279,1
4,43421,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-227.5,512.0,512.0,...,66.0,275.0,335.0,181.0,247.0,60.0,66.0,True,0.4736481862,1

# add two more columns 1YR and 2YR survival

In [25]:
# function to find out what the deal with sirvival rate
def whatTheDeal(survival,deadstat,yr):
    # survival under, deadstat = 0 - we dont know about this patient coz last check was less than a year
    if survival < yr and deadstat == 0:
        val = 'NaN'
    # survival under, deadstat = 1 - dead before
    elif survival < yr and deadstat == 1:
        val = '0' # 0 is he did not survive
    # survival over, deadstat = 0 - alive
    elif survival > yr and deadstat == 0:
        val = '1' # 1 is he DID survive yr
    # survival over, deadstat = 1 - dead after
    elif survival > yr and deadstat == 1:
        val = '1' # 1 is he DID survive yr - keep for clarity..
    return val

In [26]:
surv1yr = []
surv2yr = []
# loop once - record twice
for i in range (dataFrameStats.shape[0]):
    # first check there is actually some info - just check one of them
    if dataFrameStats['survival'][i] != 'NaN' :
        surv1yr.append( whatTheDeal( float(dataFrameStats['survival'][i]), int(dataFrameStats['deadstat'][i]),1.0) )
        surv2yr.append( whatTheDeal( float(dataFrameStats['survival'][i]), int(dataFrameStats['deadstat'][i]),2.0) )
    # if no info
    else:
        surv1yr.append('NaN')
        surv2yr.append('NaN')

In [47]:
dataFrameStats['surv1yr'] = surv1yr
dataFrameStats['surv2yr'] = surv2yr
print dataFrameStats.shape
dataFrameStats.head(n=10)

(537, 40)

,patient,nodule,Xspacing,Yspacing,Zspacing,Xmin,Ymin,Zmin,Xcount,Ycount,...,maskXmax_B,maskYmin_B,maskYmax_B,xPixelRange_B,yPixelRange_B,smoothed,survival,deadstat,surv1yr,surv2yr
0,43062,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-166.0,512.0,512.0,...,225.0,175.0,247.0,96.0,72.0,True,0.424366872,1,0,0
1,43370,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-320.5,512.0,512.0,...,317.0,288.0,317.0,32.0,29.0,True,0.7008898015,1,0,0
2,43392,0,0.976562,0.976562,3.0,-249.511719,-249.511719,-169.5,512.0,512.0,...,335.0,71.0,99.0,40.0,28.0,True,0.386036961,1,0,0
3,43402,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-136.0,512.0,512.0,...,217.0,74.0,142.0,46.0,68.0,True,0.9664613279,1,0,0
4,43421,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-227.5,512.0,512.0,...,335.0,181.0,247.0,60.0,66.0,True,0.4736481862,1,0,0
5,43478,0,0.976562,0.976562,3.0,-249.511719,-249.511719,-192.0,512.0,512.0,...,214.0,70.0,78.0,31.0,8.0,True,NaN,NaN,NaN,NaN
6,43534,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-398.5,512.0,512.0,...,229.0,346.0,388.0,48.0,42.0,True,0.2108145106,1,0,0
7,43557,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-209.5,512.0,512.0,...,229.0,174.0,236.0,52.0,62.0,True,0.3586584531,1,0,0
8,43685,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-136.0,512.0,512.0,...,304.0,139.0,169.0,34.0,30.0,True,5.8042436687,0,1,1
9,43718,0,0.977000,0.977000,1.0,-249.623500,-249.623500,-131.5,512.0,512.0,...,259.0,64.0,97.0,83.0,33.0,True,1.4099931554,1,1,0

In [51]:
# unique tumors with surv1yr
def compcacter(name,dataFrameStats):
    print name
    #
    test1 = dataFrameStats [ ( dataFrameStats[name] == '1' ) | (dataFrameStats[name] == '0') ]
    print "all tumors " , test1.shape
    #
    test1 = dataFrameStats [ (dataFrameStats[name] == '0') ]
    print "0 - did not survive " , test1.shape
    #
    test1 = dataFrameStats [ (dataFrameStats[name] == '1') ]
    print "1 - did survive " , test1.shape
    #
    test1 = dataFrameStats [ ( dataFrameStats[name] == '1' ) | (dataFrameStats[name] == '0') ]
    test1 = test1.drop_duplicates( 'patient')
    print "all patients " , test1.shape
    
compcacter('surv1yr',dataFrameStats)
compcacter('surv2yr',dataFrameStats)

surv1yr
all tumors  (407, 40)
0 - did not survive  (136, 40)
1 - did survive  (271, 40)
all patients  (365, 40)
surv2yr
all tumors  (352, 40)
0 - did not survive  (219, 40)
1 - did survive  (133, 40)
all patients  (312, 40)

In [48]:
# save 
dataFrameStats.to_csv("/media/ahmed/Dropbox/DFCI/PY-LUNG/output/Lung1_SliceStatsSurvivalAll.csv")